@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: underline;
  color: greenyellow;
}

body {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500 !important;
  line-height: 1.5rem;
  color: #fff;
  background-color: #fff;
  overflow-x: hidden;
}

#mainWrapper {
  margin: auto;
  max-width: 85ch;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow: hidden;
}
#mainWrapper header {
  position: relative;
}
#mainWrapper .navBar {
  display: flex;
  flex-direction: row;
  overflow: auto;
  scrollbar-width: none;
  gap: 0.8px;
}
@media screen and (min-width: 600px) {
  #mainWrapper .navBar {
    margin-top: 10%;
  }
}
#mainWrapper .navLink {
  min-width: 7.5rem;
  background-color: #34352f;
  color: #ccccc7;
  border: 0.5px thin #272822;
  text-decoration: none;
}
#mainWrapper .navLinksHome {
  background-color: #272822;
  color: white;
}
@media screen and (max-width: 600px) {
  #mainWrapper .navLink {
    min-width: 25%;
  }
}
#mainWrapper .navLinks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
  min-height: 35px;
  padding-left: 1rem;
  outline-offset: -1px;
}
@media screen and (min-width: 600px) {
  #mainWrapper .navLinks {
    font-size: 13px;
  }
}
@media screen and (max-width: 600px) {
  #mainWrapper .navLinks {
    font-size: 13.2708px;
    padding-left: 0.5rem;
  }
}
#mainWrapper .close {
  font-size: 22px;
  padding-right: 10px;
  padding-left: 10px;
}
#mainWrapper .close:hover {
  background-color: #34352f;
}
#mainWrapper .containerWrapper {
  padding: 0 8ch;
  background-image: url("/Astro-World/images/4740032_38604.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 10%;
  background-color: #272822;
}
@media screen and (max-width: 600px) {
  #mainWrapper .containerWrapper {
    padding-left: 2ch;
    padding-right: 2ch;
  }
}
#mainWrapper .container {
  padding-top: 6%;
  padding-bottom: 42rem;
}
#mainWrapper main {
  display: block;
}
#mainWrapper .sectionOne {
  position: relative;
  margin-bottom: 1.5rem;
}
#mainWrapper .sectionOneContent {
  display: flex;
}
@media screen and (min-width: 600px) {
  #mainWrapper #profileFoto {
    width: 167px;
    height: 168px;
    margin-right: 2ch;
    border-radius: 6px;
  }
}
@media screen and (max-width: 600px) {
  #mainWrapper #profileFoto {
    width: 150px;
    height: 90px;
    margin-right: 2ch;
  }
}
#mainWrapper .paragraphone h1 {
  font-size: 20px;
  font-weight: 800;
}
#mainWrapper .profileTitle {
  font-size: 16px;
  color: #cfcfc2;
}
@media screen and (min-width: 600px) {
  #mainWrapper .profileBio {
    font-size: 16px;
    margin-top: 1.5rem;
    max-width: 45ch;
  }
  #mainWrapper .profileBio1 {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  #mainWrapper .profileBio {
    display: none;
  }
  #mainWrapper .profileBio1 {
    display: block;
    font-size: 14px;
    margin-top: 2ch;
    max-width: 40ch;
  }
  #mainWrapper .profileTitle {
    font-size: 14px;
  }
  #mainWrapper .paragraphone h1 {
    font-size: 17.5px;
  }
}
#mainWrapper .seperator {
  display: flex;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  color: greenyellow;
  overflow: hidden;
  border-width: 0px;
  height: 1.5rem;
}
#mainWrapper .seperator::before {
  content: "//";
  margin-right: 1ch;
}
#mainWrapper .seperator::after {
  content: "-------------------------------------------------------------------------------------------------------";
  overflow-wrap: anywhere;
}

.sectionTwo {
  background-color: #fff;
  padding: 2ch;
  color: #272822;
  border-radius: 6px;
}
.sectionTwo h2 {
  margin-bottom: 2ch;
}

@media screen and (min-width: 600px) {
  .contentOneContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 1.5rem;
  }
  .img1 {
    width: 167px;
    height: 96px;
    cursor: pointer;
    margin-right: 2ch;
    margin-bottom: 0.5rem;
  }
}
@media screen and (max-width: 600px) {
  .img1 {
    width: 189.7px;
    height: 127px;
    cursor: pointer;
  }
  .contentOneWrapper {
    margin-bottom: 1rem;
  }
  .contentOneHeader {
    font-size: 15.75px !important;
  }
  .contentOneBody {
    font-size: 14px !important;
  }
}
.contentOneHeader {
  font-size: 18px;
  font-weight: 700;
  color: #272822;
  text-decoration: none;
  cursor: pointer;
}

.hov:hover {
  color: #4e94ce;
  text-decoration: underline;
  cursor: pointer;
}

.contentOneBody {
  font-size: 16px;
  font-weight: 500;
  min-height: 3rem;
}

.date {
  font-size: 13px;
  color: #cfcfc2;
}

.blogLink {
  color: #272822;
  text-decoration: none;
}

.blogLink:hover {
  color: #4e94ce;
  text-decoration: underline;
}

.blogLinkIcon {
  color: greenyellow;
}

footer {
  background-color: #fff;
  padding: 1ch;
  max-width: 90ch;
  border-radius: 6px;
}

@media screen and (min-width: 600px) {
  footer {
    display: flex;
    justify-content: space-between;
  }
  li {
    display: inline-block;
  }
}
@media screen and (max-width: 600px) {
  footer {
    flex-direction: column;
  }
  .dot {
    display: none;
  }
}
ul {
  list-style: none;
}

.footerLink {
  font-size: 16px;
  color: #272822;
  text-decoration: none;
}

.footerLink:hover {
  color: greenyellow;
  text-decoration: underline;
}

.dot {
  color: #272822;
}/*# sourceMappingURL=style.css.map */