@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: underline;
  color: greenyellow;
}

body {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500 !important;
  line-height: 1.5rem;
  color: #fff;
  background-color: #fff;
  overflow-x: hidden;
}

#mainWrapper {
  margin: auto;
  max-width: 85ch;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow: hidden;
}
#mainWrapper header {
  position: relative;
}
#mainWrapper .navBar {
  display: flex;
  flex-direction: row;
  overflow: auto;
  scrollbar-width: none;
  gap: 0.8px;
}
@media screen and (min-width: 600px) {
  #mainWrapper .navBar {
    margin-top: 10%;
  }
}
#mainWrapper .navLink {
  min-width: 8.5rem;
  background-color: #34352f;
  color: #ccccc7;
  border: 0.5px thin #272822;
  text-decoration: none;
}
#mainWrapper ul {
  display: block;
  list-style-type: none;
}
#mainWrapper .navLinksHome {
  background-color: #272822;
  color: white;
}
@media screen and (max-width: 600px) {
  #mainWrapper .navLink {
    min-width: 25%;
  }
  #mainWrapper body {
    font-size: 70%;
  }
}
#mainWrapper .navLinks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
  min-height: 35px;
  padding-left: 1rem;
  outline-offset: -1px;
}
@media screen and (min-width: 600px) {
  #mainWrapper .navLinks {
    font-size: 13px;
  }
}
@media screen and (max-width: 600px) {
  #mainWrapper .navLinks {
    font-size: 13.2708px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
#mainWrapper .mobile-head {
  display: none;
}
@media screen and (max-width: 620px) {
  #mainWrapper header .navBar {
    display: none;
  }
  #mainWrapper header {
    position: absolute;
    top: 0rem;
    left: 0rem;
    right: 0rem;
    padding-top: 0rem;
    padding-bottom: 1rem;
    background-color: transparent;
    box-sizing: border-box;
    z-index: 1100;
  }
  #mainWrapper header .mobile-head {
    position: relative;
    width: 88%;
    margin: auto;
    display: flex;
    min-height: 3.5rem;
    padding-top: 0.5rem;
  }
  #mainWrapper .mobile-logo {
    margin-left: -40px;
    width: 60px;
    height: 55px;
  }
  #mainWrapper .nav-link {
    color: #fff !important;
    display: block;
  }
}
#mainWrapper .openMenu {
  position: absolute;
  font-size: 1.8rem;
  top: 14px;
  right: 0px;
  display: none;
  color: #fff;
  cursor: pointer;
}
#mainWrapper .mobile-menu-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}
#mainWrapper .mobile-menu-wrapper .menuList .closeMenu,
#mainWrapper .icon i {
  font-size: 1.8rem;
  display: block;
  cursor: pointer;
}
@media screen and (max-width: 620px) {
  #mainWrapper .mobile-menu-wrapper .menuList {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
    align-items: flex-start;
    background-color: #000;
    transition: top 1s ease;
    display: none;
  }
  #mainWrapper .mobile-menu-wrapper .menuList .closeMenu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
  }
  #mainWrapper .mobile-menu-wrapper .openMenu {
    display: block;
  }
  #mainWrapper .mobile-menu-wrapper .menuList a:hover {
    background: none;
    color: blueviolet;
    font-size: 1.6rem;
  }
  #mainWrapper .nav-link {
    color: #fff !important;
    display: block;
  }
}
@media screen and (max-width: 620px) {
  #mainWrapper .mobile-menu-wrapper {
    width: 100%;
  }
}
@media screen and (min-width: 920px) {
  #mainWrapper .menu {
    display: flex;
    align-items: center;
  }
}
#mainWrapper .nav-link {
  margin-right: 3rem;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 11px 8px;
}
#mainWrapper .nav-link:hover {
  background-color: rgba(25, 118, 210, 0.1);
}
#mainWrapper ul .nav-link {
  position: relative;
  cursor: pointer;
}
#mainWrapper .themeContainer {
  position: relative;
  display: flex;
}
#mainWrapper label {
  width: 50px;
  height: 30px;
  position: relative;
  display: block;
  background: #ebebeb;
  border-radius: 200px;
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4), inset 0px -5px 15px rgb(255, 255, 255);
  cursor: pointer;
  transition: 0.3s;
}
#mainWrapper label::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 5px;
  left: 5px;
  background: linear-gradient(180deg, #ffcc89, #d886b0);
  border-radius: 50%;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
#mainWrapper input {
  width: 0;
  height: 0;
  visibility: hidden;
}
#mainWrapper input:checked + label {
  background: #242424;
}
#mainWrapper input:checked + label::after {
  left: 7px;
  transform: translateX(100%);
  background: linear-gradient(180deg, #777, #3a3a3a);
}
#mainWrapper label:active::after {
  width: 20px;
}
#mainWrapper .containerWrapper.dark-theme {
  background: #ffffff;
  color: #000;
}

.containerWrapper {
  padding: 0 8ch;
  background-image: url("/Astro-World/images/4740032_38604.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 10%;
  background-color: #272822;
}

@media screen and (max-width: 600px) {
  .containerWrapper {
    padding-left: 2ch;
    padding-right: 2ch;
  }
}
.container {
  padding-top: 6%;
  padding-bottom: 42rem;
}

@media screen and (max-width: 620px) {
  .container {
    padding-top: 35%;
  }
}
main {
  display: block;
}

.sectionOne {
  position: relative;
  margin-bottom: 1.5rem;
}

.sectionOneContent {
  display: flex;
}

@media screen and (min-width: 600px) {
  #profileFoto {
    width: 167px;
    height: 168px;
    margin-right: 2ch;
    border-radius: 6px;
  }
}
@media screen and (max-width: 600px) {
  #profileFoto {
    display: none;
  }
}
.paragraphone h1 {
  font-size: 20px;
  font-weight: 800;
}

.profileTitle {
  font-size: 16px;
  color: #cfcfc2;
}

@media screen and (min-width: 600px) {
  .profileBio {
    font-size: 16px;
    margin-top: 1.5rem;
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .profileBio {
    display: block;
    margin-top: 2ch;
    max-width: 40ch;
  }
  .profileTitle {
    font-size: 14px;
  }
  .paragraphone h1 {
    font-size: 17.5px;
  }
}
.profileBio1 {
  margin-top: 1.5rem;
}

.seperator {
  display: flex;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  color: greenyellow;
  overflow: hidden;
  border-width: 0px;
  height: 1.5rem;
}

.seperator::before {
  content: "//";
  margin-right: 1ch;
}

.seperator::after {
  content: "-------------------------------------------------------------------------------------------------------";
  overflow-wrap: anywhere;
}

.sectionTwo {
  background-color: #fff;
  padding: 2ch;
  color: #272822;
  border-radius: 6px;
}
.sectionTwo h2 {
  margin-bottom: 2ch;
}

@media screen and (min-width: 600px) {
  .contentOneContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 1.5rem;
  }
  .img1 {
    width: 167px;
    height: 96px;
    cursor: pointer;
    margin-right: 2ch;
    margin-bottom: 0.5rem;
  }
}
@media screen and (max-width: 600px) {
  .img1 {
    width: 189.7px;
    height: 127px;
    cursor: pointer;
  }
  .contentOneWrapper {
    margin-bottom: 1rem;
  }
  .contentOneHeader {
    font-size: 15.75px !important;
  }
  .contentOneBody {
    font-size: 14px !important;
  }
}
.contentOneHeader {
  font-size: 18px;
  font-weight: 700;
  color: #272822;
  text-decoration: none;
  cursor: pointer;
}

.hov:hover {
  color: #4e94ce;
  text-decoration: underline;
  cursor: pointer;
}

.contentOneBody {
  font-size: 16px;
  font-weight: 500;
  min-height: 3rem;
}

.date {
  font-size: 13px;
  color: #cfcfc2;
}

.blogLink {
  color: #272822;
  text-decoration: none;
}

.blogLink:hover {
  color: #4e94ce;
  text-decoration: underline;
}

.blogLinkIcon {
  color: greenyellow;
}

footer {
  background-color: #fff;
  padding: 1ch;
  max-width: 90ch;
  border-radius: 6px;
}

@media screen and (min-width: 600px) {
  footer {
    display: flex;
    justify-content: space-between;
  }
  li {
    display: inline-block;
  }
}
@media screen and (max-width: 600px) {
  footer {
    flex-direction: column;
  }
  .dot {
    display: none;
  }
}
ul {
  list-style: none;
}

.footerLink {
  font-size: 16px;
  color: #272822;
  text-decoration: none;
}

.footerLink:hover {
  color: greenyellow;
  text-decoration: underline;
}

.dot {
  color: #272822;
}

.copyright {
  width: 100%;
  margin-top: 1.5rem;
  text-align: center;
}/*# sourceMappingURL=style.css.map */

/* css to reveal web elment by scrolling */
.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease;
}
.reveal.active{
  transform: translateY(0px);
  opacity: 1;
}
/* css to reveal web elment by scrolling */

/* loading effect */
#preloader{
  background:  #000 url(/images/loader1.gif) no-repeat center center;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}
#preloader h2{
  margin-top: 35%;
  flex: auto;
  text-align: center;
}
@media screen and (max-width: 600px) {
  #preloader h2{
    margin-top: 65vh;
    flex: auto;
    text-align: center;
  }
}
@media screen and (min-width: 600px) {
  #preloader h2{
    margin-top: 65vh;
    flex: auto;
    text-align: center;
  }
}